# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Python cache files
__pycache__
*.pyc

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Spack dependency stack
.spack

# Temporary files
*~

# Simulation output/graphics files
output*.hdf5
diags*.txt
*.png
*.mp4
restart_parameters.txt

# build directories
build*/

# sundials clone
scripts/sundials

# VSCode project configuration
.vscode
